html {
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;

  @media (min-width: breakpoint('xl')) {
    font-size: 20px;
  }
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
    @extend *;
  }
}

body {
  background: $black;
  color: $white;
  min-height: 100vh;
  position: relative;
  padding-bottom: rem(60px);
  font-family: 'proxima-nova', Arial, Helvetica, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; //The browser emphasizes legibility over rendering speed and geometric precision. This enables kerning and optional ligatures. https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering
  -webkit-font-smoothing: antialiased; //Make text look good on mac(Tim Van Damme test)

  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, black, $dark-grey);
    z-index: -1;
  }
}

@include H($font-size-base, $scale);

a {
  background: transparent;
  color: $color-link;
  text-decoration: $link-hover-decoration;
  transition: color .2s;
  @include hover {
    color: $color-link-hover;
  }
}

p {
  line-height: $line-height-small;
  margin: 0;
  margin-bottom: $margin;
}

small,
.small {
  color: $color-text-main;
  font-size: $font-size-small;
  line-height: $line-height-base;
}

strong {
  font-weight: 600;
}
b {
  font-weight: 600;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

fieldset {
  border: none;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}



