//==============================================
// Layout/footer
//==============================================

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__copy {
  padding: rem(40px) 0;
  color: $white;
}
