//==============================================
// Layout/header
//==============================================

.header {
}

.header__page-title {
  color: $red;
  letter-spacing: -.04em;

  @media (min-width: breakpoint('md')) {
    font-size: rem(60px);
    text-shadow: .1em .1em 30px rgba(black, 0.5);
  }
}
